body {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
* {
    overflow: auto;
    scroll-behavior: smooth;
}

header, footer, main div {
    min-height: 100vh;
}

/* Header design goes here */
header {
    background: url('images/bg.jfif') fixed no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header h1 {
    margin-top: 0;
    font-size: 2.50em;
    color: white;
    background: rgb(0, 0, 0, .9);
    padding: 3%;
}       
header p#text-content {
    text-align: center;
    color: white;
    background: rgb(0, 0, 0, .9);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.25em;
    padding: 3%;
    margin: 3%;
}
header a#down {
    font-size: 2em;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50%;
    background: black;
    align-self: center;
}

/* Main design goes here */
main {
    background: lightblue;
}
main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main div img {
    width: 80%;
    margin: 1%;
    border-radius: 10px;
}

/* Footer design goes here */
footer {
    background: grey;
}