body {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
* {
    overflow: auto;
}

header, footer, main div {
    height: 100vh;
}

/* Header design goes here */
header {
    background: red;
}

/* Main design goes here */
main {
    background: lightblue;
}

/* Footer design goes here */
footer {
    background: grey;
}