body {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
* {
    overflow: auto;
    scroll-behavior: smooth;
}

header, footer {
    min-height: 100vh;
}

/* Header design goes here */
header {
    background: url('images/bg.jfif') fixed no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header h1 {
    margin-top: 0;
    font-size: 2.50em;
    color: white;
    background: rgb(0, 0, 0, .9);
    padding: 3%;
}       
header p#text-content {
    text-align: center;
    color: white;
    background: rgb(0, 0, 0, .9);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.25em;
    padding: 3%;
    margin: 3%;
}
header a#down {
    font-size: 2em;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50%;
    background: black;
    align-self: center;
}

/* Main design goes here */
main {
    background: lightblue;
}
main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main div img {
    width: 80%;
    margin: 1%;
    border-radius: 10px;
}

/* Customer feedback card design goes here */
main div#customer-card {
    font-size: 1.25em;
    padding: 5%;
    background: lightgrey;
    text-align: center;
}
main div#customer-card div {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5%;
    background: white;
    margin: 5% 0;
}
main div#customer-card img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

/* All the form style goes here */
main div#form {
    font-size: 1.50em;
    background: linear-gradient(lightgreen, lightblue);
    min-height: 100vh   ;
}
main div#form form {
    width: 90%;
    padding: 2%;
    text-align: center;
    overflow: hidden;
}
main div#form form input {
    width: 95%;
    margin: 20px 0;
    font-size: 1.25em;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2%;
}
main div#form form button {
    display: inline-block;
    width: 90%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.25em;
    margin-top: 50px;
    background: purple;
    color: white;
}

/* Footer design goes here */
footer {
    background: rgb(0, 0, 0, .9);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
footer a {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer div:first-child{
    font-size: 1.50em;
}
footer div:nth-child(2){
    font-size: 1.50em;
}